/* All views: initial background and text color */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --gray-background: #09090b;
  --gray-border: #27272a;
  --text-muted: #d4d4d8;
  --text-primary: #f4f4f5;
}

html {
  min-height: 100dvh;
}

.container > div {
  height: 7px !important;
}

.container {
  background-color: #3f3f46 !important;
}

body {
  color: var(--text-primary);
  background-color: var(--gray-background);
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

/* All views: standard link format*/
a:link {
  color: #00d0c9;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
}

/* All views: standard link - visited format */
a:visited {
  color: #00d0c9;
  text-decoration: underline;
}

/* All views: standard link - activated format */
a:active {
  color: #00d0c9;
  color: #e9ebfa;
  text-decoration: underline;
}

center {
  padding: 95px;
}

pre {
  font-size: 14px;
  color: var(--text-primary);
  line-height: 1.5;
}

th {
  border: 1px solid;
}

td {
  color: #e9ebfa;
  align-items: center;
  padding: 12px;
}

center > table {
  border: 1px solid #31363c;
}

.info-table-view > td {
  padding: 0;
}

/* Enable border on all centered tables aside from the info table */
body > .content > center > table:not(.info-table) td:not(.coverBarOutline) {
  border: 1px solid #31363c;
}

body > .content > center > table:not(.info-table) tr:not(.covDescHeader):hover {
  background-color: #27272a;
}

table {
  border-collapse: collapse;
  width: 100%;
}

/* Background for the title navbar */
table.title-header-shadow {
  background-color: var(--gray-background);
  border-bottom: 1px solid var(--gray-border);
  color: var(--text-primary);
  padding-bottom: 10px;
}

/* Cell containing the table with logo & title */
td.title-container {
  width: auto;
  max-width: 61rem;
  display: flex;
  padding: 0 0.2rem;
  align-items: center;
  margin-left: 95px;
  margin-right: 95px;
}

/* Table with logo & title */
table.title-header {
  color: #dfe1f1;
  border: 0;
  text-align: center;
  align-items: left;
}

/* Logo on the top navbar */
td.title-logo {
  padding: 0.4rem;
  width: 10%;
}

/* Title on the top navbar */
td.title {
  font-size: 14px;
  text-align: left;
}

/* Info table (Test metadata) */
table.info-table {
  border: 1px;
  align-items: center;
  padding: 0 95px;
  font-size: 20px;
  border-color: #dfe1f1;
}
.info-table > tbody > tr > td {
  padding: 6px;
}

td.headerInfo {
  text-align: left;
  padding-right: 6px;
  padding: 0;
  white-space: nowrap;
}

td.headerInfoValue {
  text-align: left;
  color: #00d0c9;
  padding: 0;
  font-weight: bold;
  white-space: nowrap;
}

td.headerCovSummary {
  color: #dfe1f1;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

td.headerCovSummary.rowLeft {
  text-align: right;
}

td.headerCovSummary.colTop {
  text-align: center;
}

td.headerCovSummaryEntry {
  text-align: right;
  color: #dfe1f1;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  padding: 6px;
  font-size: 16px;
  border: 1px solid var(--gray-border);
}

tr.covDescHeader {
  color: #dfe1f1;
  text-align: center;
  font-size: 20px;
  white-space: nowrap;
}

td.headerCovDesc {
  padding: 12px;
  font-size: 12px;

  font-weight: 500;
}

td.headerCovSubDesc {
  font-size: 14px;
  padding: 12px;
  border-color: #dfe1f1;
}

/* All views: color of horizontal ruler */
td.ruler > img {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  aspect-ratio: 1 / 1;
}

/* Cleanup required */

/* Source code view/table entry background: format for lines classified as "Uncovered New Code (+ => 0):
Newly added code is not tested" */
td.tlaUNC {
  text-align: right;
  background-color: #450a0a;
}

td.tlaBgUNC {
  background-color: #450a0a;
}

/* Source code view/table entry background: format for lines classified as "Uncovered New Code (+ => 0):
Newly added code is not tested" */
span.tlaUNC {
  text-align: left;
  background-color: #450a0a;
}

span.tlaBgUNC {
  background-color: #450a0a;
}

a.tlaBgUNC {
  background-color: #450a0a;
  color: #000000;
}

td.headerCovTableHeadUNC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  background-color: #450a0a;
}

/* Source code view/table entry background: format for lines classified as "Lost Baseline Coverage (1 => 0):
Unchanged code is no longer tested" */
td.tlaLBC {
  text-align: right;
  background-color: #450a0a;
}

td.tlaBgLBC {
  background-color: #450a0a;
}

/* Source code view/table entry background: format for lines classified as "Lost Baseline Coverage (1 => 0):
Unchanged code is no longer tested" */
span.tlaLBC {
  text-align: left;
  background-color: #450a0a;
}

span.tlaBgLBC {
  background-color: #450a0a;
}

a.tlaBgLBC {
  background-color: #450a0a;
  color: #000000;
}

td.headerCovTableHeadLBC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  background-color: #450a0a;
}

/* Source code view/table entry background: format for lines classified as "Uncovered Included Code (# => 0):
Previously unused code is untested" */
td.tlaUIC {
  text-align: right;
  background-color: #450a0a;
}

td.tlaBgUIC {
  background-color: #450a0a;
}

/* Source code view/table entry background: format for lines classified as "Uncovered Included Code (# => 0):
Previously unused code is untested" */
span.tlaUIC {
  text-align: left;
  background-color: #450a0a;
}

span.tlaBgUIC {
  background-color: #450a0a;
}

a.tlaBgUIC {
  background-color: #450a0a;
  color: #000000;
}

td.headerCovTableHeadUIC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  background-color: #450a0a;
}

/* Source code view/table entry background: format for lines classified as "Uncovered Baseline Code (0 => 0):
Unchanged code was untested before, is untested now" */
td.tlaUBC {
  text-align: right;
  background-color: #450a0a;
}

td.tlaBgUBC {
  background-color: #450a0a;
}

/* Source code view/table entry background: format for lines classified as "Uncovered Baseline Code (0 => 0):
Unchanged code was untested before, is untested now" */
span.tlaUBC {
  text-align: left;
  background-color: #450a0a;
}

span.tlaBgUBC {
  background-color: #450a0a;
}

a.tlaBgUBC {
  background-color: #450a0a;
  color: #000000;
}

td.headerCovTableHeadUBC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  background-color: #450a0a;
}

/* Source code view/table entry background: format for lines classified as "Gained Baseline Coverage (0 => 1):
Unchanged code is tested now" */
td.tlaGBC {
  text-align: right;
  background-color: #052e16;
}

td.tlaBgGBC {
  background-color: #052e16;
}

/* Source code view/table entry background: format for lines classified as "Gained Baseline Coverage (0 => 1):
Unchanged code is tested now" */
span.tlaGBC {
  text-align: left;
  background-color: #052e16;
}

span.tlaBgGBC {
  background-color: #052e16;
}

a.tlaBgGBC {
  background-color: #052e16;
  color: #000000;
}

td.headerCovTableHeadGBC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  background-color: #052e16;
}

/* Source code view/table entry background: format for lines classified as "Gained Included Coverage (# => 1):
Previously unused code is tested now" */
td.tlaGIC {
  text-align: right;
  background-color: #052e16;
}

td.tlaBgGIC {
  background-color: #052e16;
}

/* Source code view/table entry background: format for lines classified as "Gained Included Coverage (# => 1):
Previously unused code is tested now" */
span.tlaGIC {
  text-align: left;
  background-color: #052e16;
}

span.tlaBgGIC {
  background-color: #052e16;
}

a.tlaBgGIC {
  background-color: #052e16;
  color: #000000;
}

td.headerCovTableHeadGIC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  background-color: #052e16;
}

/* Source code view/table entry background: format for lines classified as "Gained New Coverage (+ => 1):
Newly added code is tested" */
td.tlaGNC {
  text-align: right;
  background-color: #052e16;
}

td.tlaBgGNC {
  background-color: #052e16;
}

/* Source code view/table entry background: format for lines classified as "Gained New Coverage (+ => 1):
Newly added code is tested" */
span.tlaGNC {
  text-align: left;
  background-color: #052e16;
}

span.tlaBgGNC {
  background-color: #052e16;
}

a.tlaBgGNC {
  background-color: #052e16;
  color: #000000;
}

td.headerCovTableHeadGNC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  background-color: #052e16;
}

/* Source code view/table entry background: format for lines classified as "Covered Baseline Code (1 => 1):
Unchanged code was tested before and is still tested" */
td.tlaCBC {
  text-align: right;
  background-color: #052e16;
}

td.tlaBgCBC {
  background-color: #052e16;
}

/* Source code view/table entry background: format for lines classified as "Covered Baseline Code (1 => 1):
Unchanged code was tested before and is still tested" */
span.tlaCBC {
  text-align: left;
  background-color: #052e16;
}

span.tlaBgCBC {
  background-color: #052e16;
}

a.tlaBgCBC {
  background-color: #052e16;
  color: #000000;
}

td.headerCovTableHeadCBC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  background-color: #052e16;
}

/* Source code view/table entry background: format for lines classified as "Excluded Uncovered Baseline (0 => #):
Previously untested code is unused now" */
td.tlaEUB {
  text-align: right;
  background-color: #ffffff;
}

td.tlaBgEUB {
  background-color: #ffffff;
}

/* Source code view/table entry background: format for lines classified as "Excluded Uncovered Baseline (0 => #):
Previously untested code is unused now" */
span.tlaEUB {
  text-align: left;
  background-color: #ffffff;
}

span.tlaBgEUB {
  background-color: #ffffff;
}

a.tlaBgEUB {
  background-color: #ffffff;
  color: #000000;
}

td.headerCovTableHeadEUB {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  background-color: #ffffff;
}

/* Source code view/table entry background: format for lines classified as "Excluded Covered Baseline (1 => #):
Previously tested code is unused now" */
td.tlaECB {
  text-align: right;
  background-color: #ffffff;
}

td.tlaBgECB {
  background-color: #ffffff;
}

/* Source code view/table entry background: format for lines classified as "Excluded Covered Baseline (1 => #):
Previously tested code is unused now" */
span.tlaECB {
  text-align: left;
  background-color: #ffffff;
}

span.tlaBgECB {
  background-color: #ffffff;
}

a.tlaBgECB {
  background-color: #ffffff;
  color: #000000;
}

td.headerCovTableHeadECB {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  background-color: #ffffff;
}

/* Source code view/table entry background: format for lines classified as "Deleted Uncovered Baseline (0 => -):
Previously untested code has been deleted" */
td.tlaDUB {
  text-align: right;
  background-color: #ffffff;
}

td.tlaBgDUB {
  background-color: #ffffff;
}

/* Source code view/table entry background: format for lines classified as "Deleted Uncovered Baseline (0 => -):
Previously untested code has been deleted" */
span.tlaDUB {
  text-align: left;
  background-color: #ffffff;
}

span.tlaBgDUB {
  background-color: #ffffff;
}

a.tlaBgDUB {
  background-color: #ffffff;
  color: #000000;
}

td.headerCovTableHeadDUB {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  background-color: #ffffff;
}

/* Source code view/table entry background: format for lines classified as "Deleted Covered Baseline (1 => -):
Previously tested code has been deleted" */
td.tlaDCB {
  text-align: right;
  background-color: #ffffff;
}

td.tlaBgDCB {
  background-color: #ffffff;
}

/* Source code view/table entry background: format for lines classified as "Deleted Covered Baseline (1 => -):
Previously tested code has been deleted" */
span.tlaDCB {
  text-align: left;
  background-color: #ffffff;
}

span.tlaBgDCB {
  background-color: #ffffff;
}

a.tlaBgDCB {
  background-color: #ffffff;
  color: #000000;
}

td.headerCovTableHeadDCB {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  background-color: #ffffff;
}

/* Source code view: format for date/owner bin that is not hit */
span.missBins {
  background-color: #ff0000;
  /* red */
}

.lineNum {
  color: #a1a1aa;
}
